section h1  {
    margin-top:200px;
    margin-bottom:50px;
    text-align:center;
}

.container h1 {
    font-family:impact;
    font-size:50px;
    color:white;
    text-shadow: 10px 10px 5px black;
    text-align: center;
}

.container h3 {
    text-align: center;
}

h4 {
    text-align:center;
    width:100%;
}


.container img {
    width:70%;
    margin-left: auto;
    margin-right: auto;
    display:block;
    margin-bottom:50px;
}

.container2 img {
    width:70%;
    margin-left: auto;
    margin-right: auto;
    display:block;
    margin-bottom:50px;
    margin-top:100px;
}

.container3 {
    width:70%;
    margin-left: auto;
    margin-right: auto;
}

.container3 img {
    width:70%;
    margin-left: auto;
    margin-right: auto;
    display:block;
    margin-bottom:50px;
}

p {
    text-align: center;
}

footer {
    width:100%;
    height:auto;
    background-color:darkgrey;
}

footer h2 {
    text-align: center;
}

footer p {
    text-align: center;
}   
